@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:wght@200;500;600&display=swap');


.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background: #08415C;
    color: white;
    font-family: 'Raleway ', sans-serif ;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    padding-top: 20px;
}

a {
    color: white;
}