@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:wght@200;500;600&display=swap');


.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background: #08415C;
    color: white;
    font-family: 'Raleway ', sans-serif ;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    font-size: 20px;
    position: sticky;
    top: 0;
    min-width: 275px;

}

/* .navbar li.active {
    background: #FFF
}

.navbar li.active a {
    color: #08415C;
} */

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;

}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.nav-link__admin {
    color: #ebbab9
}

.navbar img {
    width: 240px;

}

.navbar__item :hover {
    color: #B5FFE1
}
.navbar__item :link :active {
    color: #B5FFE1
}